openapi: 3.1.0
info:
  title: DNSimple Accounts Contacts API
  description: The DNSimple API enables programmatic management of domains, DNS zones, records, contacts, and certificates within a DNSimple account.
  version: '2'
servers:
- url: https://api.dnsimple.com/v2
  description: DNSimple API v2
security:
- bearerAuth: []
tags:
- name: Contacts
paths:
  /{account}/contacts:
    get:
      summary: List contacts
      operationId: listContacts
      parameters:
      - $ref: '#/components/parameters/Account'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
      tags:
      - Contacts
    post:
      summary: Create contact
      operationId: createContact
      parameters:
      - $ref: '#/components/parameters/Account'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '201':
          description: Contact created
      tags:
      - Contacts
components:
  parameters:
    Account:
      name: account
      in: path
      required: true
      schema:
        type: string
  schemas:
    Collection:
      type: object
      additionalProperties: true
      properties:
        data:
          type: array
          items:
            type: object
            additionalProperties: true
        pagination:
          type: object
          additionalProperties: true
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
x-generated-from: https://developer.dnsimple.com/
x-generated-by: claude-crawl-2026-05-08
